body {
	background-color:#f0f5f5;
	color: #325656;
	font-family: 'Amatic SC', cursive;
	
}



.header{
border-width: 400

}

.main{

	background-color:#c3d5d5
}

.footer{

	background-color:#e1eaea
}

